/* iziToast */

.iziToast {
  font-family: 'Montserrat', sans-serif !important;
}

.iziToast,
.iziToast * {
  font-size: 16px !important;
}

.iziToast > .iziToast-body {
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px !important;
  min-height: 24px !important;
}

.iziToast > .iziToast-body .iziToast-texts {
  margin: 0 !important;
  line-height: 1.5 !important;
  letter-spacing: 0.03em !important;

  display: flex !important;
  gap: 8px !important;
  justify-content: center !important;
  align-items: center !important;
}

.iziToast > .iziToast-body .iziToast-title {
  margin-right: 0 !important;
  font-weight: 700 !important;
}

.iziToast > .iziToast-body .iziToast-message {
  font-weight: 400 !important;
}

.iziToast.custom-success-toast,
.iziToast.custom-error-toast {
  padding: 20px;
  max-height: 64px;
  color: var(--light-primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.iziToast.custom-error-toast {
  background-color: var(--error-color);
}

.iziToast.custom-success-toast {
  background-color: var(--success-color);
}

.iziToast.custom-error-toast .iziToast-icon,
.iziToast.custom-success-toast .iziToast-icon {
  margin: 0 !important;
  position: static !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.iziToast.custom-error-toast .iziToast-icon {
  background-image: url('../img/icons/toast-error-icon.svg') !important;
}

.iziToast.custom-success-toast .iziToast-icon {
  background-image: url('../img/icons/toast-success-icon.svg') !important;
}

.iziToast.custom-error-toast > .iziToast-close,
.iziToast.custom-success-toast > .iziToast-close {
  background-image: url('../img/icons/toast-close.svg') !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  position: absolute !important;
  top: 24px !important;
  right: 20px !important;
}
.iziToast.custom-error-toast .iziToast-close:hover {
  opacity: 1;
}

.iziToast > .iziToast-progressbar {
  position: absolute;
  bottom: 0 !important;
  left: 0px !important;
  height: 4px !important;
  width: 100%;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.iziToast.custom-error-toast > .iziToast-progressbar {
  background-color: var(--error-progress-background);
}

.iziToast.custom-success-toast > .iziToast-progressbar {
  background-color: var(--success-progress-background);
}

.iziToast > .iziToast-progressbar > div {
  height: 4px !important;
  border-radius: 0;
  transition: width 0.2s linear;
}

.iziToast.custom-success-toast > .iziToast-progressbar > div {
  background-color: var(--success-progress-color) !important;
}

.iziToast.custom-error-toast > .iziToast-progressbar > div {
  background-color: var(--error-progress-color) !important;
}

.iziToast.custom-error-toast .iziToast-title,
.iziToast.custom-success-toast .iziToast-title {
  font-weight: 600;
  margin-bottom: 4px;
}

.iziToast.custom-error-toast .iziToast-message,
.iziToast.custom-success-toast .iziToast-message {
  margin: 0 24px 0 0 !important;
  color: var(--light-primary-color) !important;
}

.iziToast:after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px !important;
  box-shadow: none !important;
}
